<p id="notice"><%= notice %></p>

<h1>Cadastro de Consultas</h1>

<body>
  <center><%= image_tag"bem vindo.jpg" %></center>
</body>
<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Disponivel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consultas.each do |consulta| %>
      <tr>
        <td><%= consulta.data %></td>
        <td><%= consulta.disponivel %></td>
        <td><%= link_to 'Mostrar', consulta %></td>
        <td><%= link_to 'Editar', edit_consulta_path(consulta) %></td>
        <td><%= link_to 'Excluir', consulta, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Consulta', new_consulta_path %>
<%= link_to 'Medico', medicos_path %>
<%= link_to 'Paciente', pacientes_path %>

